




<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <!--<link href="self_study.css" rel="stylesheet">!-->
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async>
        </script>
        <title>
            高中數學學習網站
        </title>

    </head>
    <body><!--
        <style>
            .navigation{
                display: grid;
                grid-template-columns: 0.5fr 3fr;
            }
        </style>
        
        
        
      
        <ul>
            <li>
                <a href = "index.html" id = "menu-one" class = "menu-word">
                    首頁
                </a>
            </li>

            <li>
                <a href = "self_study_trigonometric_functions.html" id = "menu-two" class = "menu-word">
                    三角函數和差角公式
                </a>
            </li>
            <li>
                <a href ="self_study_double_angle_formula.html" id = "menu-three" class = "menu-word">
                    三角函數倍角公式
                </a>
            </li>
        </ul>-->
        {% include 'nav.html' %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>

        {% endif %}

        
        {% block content %}


        {% endblock %}

    </body>
</html>